.carousel .thumbs {
    /* transition: all .15s ease-in;
    transform: translate3d(0, 0, 0);
    position: relative;
    list-style: none;
    white-space: nowrap; */
    display: none;
}


.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height .15s ease-in;
    /* max-height: 450px; */
    /* object-fit: cover; */
}